.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
}

.home .left {
    width: 640px;
    text-align: center;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid yellow;
    box-shadow: var(--box-shadow);
}

.home .left .text-wrapper {
    display: flex;
    justify-content: center;
}

.home .left .text-wrapper h1 {
    color: var(--color-text);
    font-weight: 510;
    font-size: 3rem;
    line-height: 5rem;
    overflow: hidden;
    white-space: nowrap;
    animation: typingEffectAnimation 3s steps(30, end);
}

.home .left .text-wrapper h1 div {
    padding-bottom: 3rem;
    text-align: center;
}

.home .left .text-wrapper h1 span {
    font-family: 'Pacifico', cursive;
    color: rgb(212, 249, 1);
    font-size: 4rem;
}

@keyframes typingEffectAnimation {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.home .right .img {
    display: flex;
    justify-content: center;
    align-items: center;

}

.home .right .img img {
    height: 310px;
    width: 310px;
    border-radius: 100%;
    border: 5px solid yellow;
    animation: suparmen 3s infinite;
}

@keyframes suparmen {
    0% {
        border-color: blue;
        transform: translate(0, 0px);
        box-shadow: 10px 10px 100px 50px blue;
    }

    25% {
        border-color: #EFF40B;
        /* transform: translate(0,0px); */
        box-shadow: 10px 10px 100px 50px #EFF40B;
    }

    50% {
        border-color: #0C0CC7;
        transform: translate(0, 10px);
        box-shadow: 10px 10px 100px 50px #0C0CC7;
    }

    75% {
        border-color: #82D9A0;
        /* transform: translate(0, 10px); */
        box-shadow: 10px 10px 100px 50px #82D9A0;
    }

    100% {
        border-color: #3237CD;
        transform: translate(0, -0px);
        box-shadow: 10px 10px 100px 50px #3237CD;
    }
}



@media only screen and (max-width : 550px) {

    .home {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .home .left {
        width: 340px;
        padding: 20px;
    }

    .home .left .text-wrapper h1 {
        font-size: 1.7rem;
        line-height: 3.5rem;

    }

    .home .left .text-wrapper h1 div {
        padding-bottom: 2rem;

    }

    .home .left .text-wrapper h1 span {
        font-size: 2.5rem;
    }

}

@media only screen and (min-width:551px) and (max-width : 768px) {

    .home {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .home .left {
        width: 500px;
    }

    .home .left .text-wrapper h1 {
        font-size: 2.4rem;
        line-height: 4rem;

    }

    .home .left .text-wrapper h1 div {
        padding-bottom: 2.5rem;

    }

    .home .left .text-wrapper h1 span {
        font-size: 3.5rem;
    }

}

@media only screen and (min-width:769px) and (max-width : 990px) {

    .home {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .home .left {
        width: 600px;
    }

    .home .left .text-wrapper h1 {
        font-size: 3.1rem;
        line-height: 4.2rem;

    }

    .home .left .text-wrapper h1 div {
        padding-bottom: 2.5rem;

    }

    .home .left .text-wrapper h1 span {
        font-size: 4rem;
    }

    .home .right .img img {
        height: 390px;
        width: 390px;
    }

}