.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 100px;
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100%;
    z-index: 1000;
    background-color: #04152d;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2)
}

.nav_bar .nav_items {
    padding: 16px;
    font-size: 1.2rem;
    font-weight: bold;
    position: relative;
}

.nav_bar .nav_items:hover {
    color: rgb(157, 255, 0);
}

.nav_bar .nav_items::after {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 0;
    width: 80%;
    height: 3px;
    background-color: rgb(157, 255, 0);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    transform-origin: left;
}

.nav_bar .nav_items:hover::after {
    transform: scaleX(1);
}

.nav_bar .nav-icon {
    display: none;
}

.nav_bar .mobile-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: #04152d;
    text-align: center;
    padding: 10px 0px;
    transition: all 0.3s ease-in-out;
}

.nav_bar .mobile-menu a {
    color: white;
    padding: 15px 0;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease-in-out;
    border-bottom: 1px solid #576cbc;
}

.nav_bar .mobile-menu a:hover {
    color: rgb(157, 255, 0);
}

.nav_bar .mobile-menu {
    display: flex;
}

.nav_items.active {
    color: rgb(157, 255, 0);
    font-weight: bold;
  }

@media only screen and (max-width : 550px) {

    .nav_bar {
        padding: 5px 20px;
    }

    .nav_bar .right {
        display: none;
    }

    .nav_bar .nav-icon {
        display: block;
    }

}

@media only screen and (min-width:551px) and (max-width : 768px) {

    .nav_bar {
        padding: 8px 70px;
    }

    .nav_bar .right {
        display: none;
    }

    .nav_bar .nav-icon {
        display: block;
    }

    .nav_bar .mobile-menu a {
        padding: 31px 0px;
        font-size: 2rem;
    }

}

@media only screen and (min-width:769px) and (max-width : 990px) {

    .nav_bar {
        padding: 13px 16px;
    }

    .nav_bar .nav_items {
        padding: 9px;
        font-size: 1.4rem;
    }
}