.ex-con {
    width: 1050px;
    margin-top: 50px;
}

.ex-item {
    display: flex;
    align-items: center;
    gap: 70px;
    background-color: var(--color-bg);
    padding: 25px;
    border: 1px solid yellow;
    box-shadow: var(--box-shadow);
}

.ex-item .left img {
    border-radius: 100%;
    width: 150px;
}

.ex-item .right h4 .date {
    color: yellowgreen;
}

.ex-item .right .location {
    color: yellow;
}


@media only screen and (max-width : 550px) {

    .ex-con {
        width: 100%;
    }

    .ex-item {
        flex-direction: column;
        gap: 20px;
    }

    .ex-con .right h2 {
        font-size: 1.4rem;
    }

    .ex-item .right h4 .date {
        font-size: 29px;
        line-height: 50px;
    }

}
