:root {
    --color-text: #fff;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #282F61;
    --box-shadow: 5px 5px 10px 5px #65AF0A90
}

a {
    text-decoration: none;
    color: var(--color-text);
}

.container {
    padding-top: 70px;
}